.titleHeader {
  font-weight: 700; }

.actionBar {
  padding-top: 10px;
  display: flex;
  align-items: center; }

.spanSearchBar {
  width: 400px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between; }

.econduitRanking {
  display: flex;
  flex-direction: column;
  width: 50%; }
  .econduitRanking .econduitLabel {
    font-size: 18px; }
  .econduitRanking .econduitScore {
    font-size: 30px;
    color: #9ccc65; }
  .econduitRanking .econduitClassement {
    color: #9ccc65; }
