@import "styles/index.scss";

.econduitRanking {
  @include isFlex($flexDirection:column);
  width: 50%;
  .econduitLabel {
    font-size: 18px;
  }
  .econduitScore {
    font-size: 30px;
    color: #9ccc65;
  }
  .econduitClassement {
    color: #9ccc65;
  }
}
