@mixin isFlex ($flexWrap: null, $alignItems:null, $flexDirection:null, $justifyContent:null, $flexWrap:null) {
  display: flex;
  flex-direction: $flexDirection; //default : row
  align-items: $alignItems; //default : stretch
  justify-content: $justifyContent; //default : flex-start
  flex-wrap: $flexWrap; //default : nowrap
}

.titleHeader {
  font-weight: 700;
}
.actionBar {
  padding-top: 10px;
  @include isFlex($alignItems:center);
}
.spanSearchBar {
  width: 400px;
  margin-right: 20px;
  @include isFlex($justifyContent:space-between);
}
