.titleHeader {
  font-weight: 700; }

.actionBar {
  padding-top: 10px;
  display: flex;
  align-items: center; }

.spanSearchBar {
  width: 400px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between; }
