@import "styles/index.scss";

.repairBoard {
  height: 100%;
  padding: 15px;
}
.row {
  height: 25px;
}
.rowColumnw {
  height: 25px;
}
.hidden {
  display: none;
}
.alertInProgress {
  .rowColumn {
    color: red;
    font-weight: 700;
    &:first-child:before {
      content: "/!\\ ";
    }
  }
}
