.titleHeader {
  font-weight: 700; }

.actionBar {
  padding-top: 10px;
  display: flex;
  align-items: center; }

.spanSearchBar {
  width: 400px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between; }

.repairBoard {
  height: 100%;
  padding: 15px; }

.row {
  height: 25px; }

.rowColumnw {
  height: 25px; }

.hidden {
  display: none; }

.alertInProgress .rowColumn {
  color: red;
  font-weight: 700; }
  .alertInProgress .rowColumn:first-child:before {
    content: "/!\\ "; }
