@import "styles/index.scss";

.header {
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./images/dashboard.png");
  background-size: cover;
}

.headerGradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(116, 116, 191, 0.4),
    rgba(59, 159, 229, 0.4)
  );
  @include isFlex($justifyContent:space-between);
}

.navigation {
  @include isFlex($justifyContent:center, $alignItems:center);
  .backButton {
    padding: 0 !important;
    vertical-align: middle !important;
    svg {
      height: 36px !important;
      width: 36px !important;
      color: white !important;
    }
  }

  .pageTitle {
    padding-left: 12px;
    width: 100%;
    margin: 8px 0;
    font-size: 2em;
    font-weight: 400;
    color: white;
  }
}

.profile {
  padding: 10px;

  @include isFlex();
  .profileInformation {
    margin-right: 10px;
    @include isFlex($flexDirection:column);
  }

  .profileInformationName {
    font-size: 1.2em;
  }
}
