.titleHeader {
  font-weight: 700; }

.actionBar {
  padding-top: 10px;
  display: flex;
  align-items: center; }

.spanSearchBar {
  width: 400px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between; }

.header {
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./images/dashboard.png");
  background-size: cover; }

.headerGradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(116, 116, 191, 0.4), rgba(59, 159, 229, 0.4));
  display: flex;
  justify-content: space-between; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: center; }
  .navigation .backButton {
    padding: 0 !important;
    vertical-align: middle !important; }
    .navigation .backButton svg {
      height: 36px !important;
      width: 36px !important;
      color: white !important; }
  .navigation .pageTitle {
    padding-left: 12px;
    width: 100%;
    margin: 8px 0;
    font-size: 2em;
    font-weight: 400;
    color: white; }

.profile {
  padding: 10px;
  display: flex; }
  .profile .profileInformation {
    margin-right: 10px;
    display: flex;
    flex-direction: column; }
  .profile .profileInformationName {
    font-size: 1.2em; }
